* {
    margin: 0;
    padding: 0;
    font-family: 'Inter Tight', sans-serif;
    overflow-x: hidden;
}

:root {
    --color1: #2B2D42;
    --color1Hover: #555b92;
    --color2: #8d99ae;
    --color3: #edf2f4;
    --color4: #ff5117;
    --color5: #ff3700;
    --font: 'Inter Tight', sans-serif;
    --weight1: 300;
    --weight2: 400;
    --weight3: 700;
    --weight4: 900;
}


body {
    background: linear-gradient(182deg, #edf2f4, #d4dff3);
    background-size: 1000000%;
    
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    -o-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
    
}

h1 {
    color: var(--color1);

}

p {
    color: var(--color1);
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

nav {
    display: flex;
    
    align-items: center;
    justify-content: center;
   
}


.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    width: 50%;
    flex-direction: row;
}


.logo {
    width: 150px;
    cursor: pointer;
    margin-right: 50px;
    
}

.menuButton {
    display: hidden;
    
}

.line {
    display: hidden;

}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 75%;

}

.link {
    text-decoration: none;
    font-weight: var(--weight3);
    font-family: var(--font);
    color: var(--color1);
    
}

a:hover {
    color: var(--color1Hover);
}


.navLinksActive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(141, 153, 174, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    list-style: none;
    width: 100%;
    padding-top: 10px;

}

.navLinksActive a {
    margin-bottom: 10px;
}

.nav {
    width: 100%;
}
@media only screen and (max-width: 330px) {

    .nav {
        width: 100%;
    }
    .menuButton {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 12vw;
            height: 14vw;
            cursor: pointer;
    
        }
    
        .logo {
            width: 55vw;
            cursor: pointer;
        }
}



@media only screen and (max-width: 1250px) {
    .nav {
            width: 100%;
        }
    .navContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            padding-left: 40px;
            padding-right: 40px;
            width: 100%;
            
        }
    .navLinks {
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            width: 100%;
    
        }
}

.navTop {
    display: none;
}

@media only screen and (max-width: 600px) {
.nav {
        width: 100%;
    }
    .logo {
        width: 150px;
        cursor: pointer;

    }

    .menuButton {
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: none;
        width: 35px;
        height: 45px;

    }

    .menuLink {
        background: none;
        border: none;
    }

    .line {
        height: 6px;
        width: 100%;
        border-radius: 2px;
        background-color: var(--color1);

    }


    .links {
        display: none;
    }

    .navLinks {
        display: none;
    }
        .navLinksActive {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: rgba(141, 153, 174, 0.3);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            list-style: none;
            width: 100%;
            padding-top: 15px;
            margin-top: 15px;
            margin-bottom: 50px;
    
        }
    
        .navLinksActive a {
            margin-bottom: 15px;
        }

                .navigationActive {
                    display: flex;

                    align-items: center;
                    justify-content: center;
        
                }

    .navTop {
       display: flex;
       align-items: center;
       justify-content: space-between;                        
       width: 100%;
                                }
    #shownLogo {
       display: none;
    }

    .navContainer {
        flex-direction: column;
    }
}






/*     ___________________________
      |                           |
      |         SECTION 1         |
      |___________________________|
*/

.section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 75px;
    padding-bottom: 50px;
   

}

.highpoint{
    background: linear-gradient(221deg, #2b2d42, #181a44);
    background-size: 120% 120%;
    animation: gradient-animation 1s ease infinite;
    font-size: min(14vw, 75px);
    font-weight: var(--weight4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.inOrOut {
    font-size: 40px;
    font-weight: var(--weight3);
    font-size: min(8vw, 35px);
}

.CTAButton {
    background: rgb(255, 55, 0);
    background: linear-gradient(90deg, rgba(255, 55, 0, 1) 0%, rgba(255, 112, 64, 1) 100%);
    transition: background 1s;
    font-weight: var(--weight3);
    color: var(--color3);
    border: none;
    width: min(30vw, 150px);
    height: max(4vw, 50px);
    font-size: min(4vw, 20px);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 2vw;
    padding-left: 5px;
    padding-right: 5px;
    
 
}

.CTAButton:hover {
    background: rgba(255, 112, 64, 1);
    background: linear-gradient(90deg, rgba(255, 112, 64, 1) 0%,rgba(255, 55, 0, 1) 100%);
    


}

.skydiver {
    background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    margin-left: 40px;
    
    width: 250px;
    height: 250px;
    

}

@media only screen and (max-width: 915px) { 
    .section1 {
        flex-direction: column;
    }
    .skydiver {
        background: rgba(255, 255, 255, 0.25);
            background: rgba(141, 153, 174, 0.3);
                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border-radius: 10px;
                border: 1px solid rgba(255, 255, 255, 0.18);
            
            width: 200px;
            height: 250px;
            margin-top: 50px;
            margin-left: 0px;

    
    }
}





/*     ___________________________
      |                           |
      |         SECTION 2         |
      |___________________________|
*/
.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.panel {
    height: 200px;
    width: 80%;
    background: rgba(141, 153, 174, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px;
    margin-bottom: 30px;

}

.panelHeader {
    display: flex;
    
}

.numberCircle {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--color1);
    border-radius: 50px;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-left: 10px;
    line-height: 2px;
}

.step {
    font-size: 3px;
}